


<h1 class="text-center">Recipes</h1>

<h2>Chicken Noodle</h2>
<h2>Meal Type: Lunch</h2>



<h3>Ingredients</h3>
<ul>
    <li>4 Chicken thighs, skins removed</li>
    <li>8 Cups chicken broth</li>
    <li>6 cups water</li>
    <li>olive oil</li>
    <li>onion finley chopped</li>
    <li>celery sticks chopped</li>
    <li>carrots</li>
    <li>noodles</li>
    <li>garlic clove</li>
    <li>1 Tbsp salt</li>
</ul>

<h3>Instructions</h3>

<ol>
    <li><p>In a large pot combine water,broth and salt. Bring to boil add chicken</p></li>
    <li><p>In a large skillet heat oil and sautee onion and celery until soft</p></li>
    <li><p>Add pasta and carrots to pot cook for 15 min</p></li>
    <li><p>Use hand to shredded chicken</p></li>
    <li><p>Contuning to add salt to taste</p></li>
    <li><p>Remove from Heat and Enjoy!</p></li>
</ol>




<p>Time Complete: 5 hours</p>

<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
